---
import FormattedDate from './FormattedDate.astro'

const { image, time, title, description, link } = Astro.props
---

<a href={`/blog/${link}/`} class="flex flex-col rounded-[0.625rem] max-w-[318px] h-full bg-dark-500 overflow-hidden">
  <img src={image} alt={image} class="w-full aspect-[13/7] object-cover" />
  <div class="px-4 md:px-6 py-4">
    <FormattedDate date={time} class="uppercase text-sm opacity-60" />
    <h2 class="text-lg line-clamp-2 font-semi-bold mt-2 mb-3 md:mt-[0.625rem] md:mb-4">{title}</h2>
    <p class="line-clamp-3 opacity-60">{description}</p>
  </div>
</a>
