---
import { getCollection } from 'astro:content'
import BlogCard from './BlogCard.astro'
const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<main class="relative shrink flex flex-col items-stretch mt-20 mb-3 md:px-8 w-screen h-[calc(100vh-194px)] overflow-y-scroll">
  <section>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 mx-auto justify-center w-fit max-w-[76rem]">
      {
        posts.map(({ data, id }) => (
          <li>
            <BlogCard image={data.heroImage} time={data.pubDate} title={data.title} description={data.description} link={id} />
          </li>
        ))
      }
    </ul>
  </section>
</main>
